@tailwind base;
@tailwind components;
@tailwind utilities;



.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: black; /* change to desired color */
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
.navigation-bar > a {
    display: inline-block;
    
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}
.discord, .twitter{
    height: 40px !important;
    width: 40px !important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: white;
  }
  
  .active {
    background-color: #04AA6D;
  }

.float{
    text-align:right;
    

}


.bgimagetop img{
    width:500px;
}
.bgimagebot img{
    width:500px;

}
#bgimage{
    padding:0px !important;
    margin:0px !important;
    opacity: .75;
    background-size:350px;
    height:690px;
    background-color:black;
    /* background-image: url("../images/bg_image.jpg"); */
    
}
.bgimagebot{
    padding:0px !important;
    margin:0px !important;
    background-size:200px;
    background-color:rgb(68, 22, 14);
}
.RPM-Text{

}

@media only screen and (max-width: 600px) {
    #bgimage img{
        padding:0px !important;
        margin:0px !important;
    
        
    }
    .bgimagetop img{
        width:300px;
    }
    .bgimagebot img{
        width:300px;
    
        padding:0px !important;
        margin:0px !important;
        
    }
    .bgimagetop{
        padding:0px !important;
        margin:0px !important;
        background-size:150px;
        height:332px;
        
    }
    .bgimagebot{
        padding:0px !important;
        margin:0px !important;
        background-size:200px;
        background-color:rgb(68, 22, 14);
    }
  }


@media only screen and (max-width: 300px) {
    #bgimage img{
        padding:0px !important;
        margin:0px !important;
    
        
    }
    .bgimagetop img{
        width:200px;
    }
    .bgimagebot img{
        width:200px;
    
        padding:0px !important;
        margin:0px !important;
        
    }
    .bgimagetop{
        background-size:150px;
        height:222px;
        
    }
    .bgimagebot{
        padding:0px !important;
        margin:0px !important;
        background-size:200px;
        background-color:rgb(68, 22, 14);
    }
  }