:root {
  --primary: black;
  --primary-text: #ffffff;
  --secondary: #0400ff;
  --secondary-text: #ffffff;
  --accent: #a74040;
  --accent-text: #ffffff;
}
/*TexturesCom_MetalBare0043_S 2 */

logo:
position: absolute;
width: 1445px;
height: 1183px;
left: 0px;
top: 0px;

background: url(.jpg);
opacity: 0.5;
filter: blur(14px);